<section class="products-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <h4>We are Jungle!</h4>
  <br>
  <p>Have you ever not known what to get someone for their birthday?</p>
  <p>What do you buy someone who has everything?</p>
  <p>Is it impossible to know what your dad wants for Christmas?</p>
  <p>Jungle is the place for you!</p>
  <br>
  <p>Browse our products to find a unique gift! You will be left thinking, "What is this?" and "Why is this even a thing?"</p>
  <br>
  <p>Either way - we guarantee a great experience in the <strong>JUNGLE</strong></p>
</section>